body {
  font-family: 'Inconsolata', monospace;
  overflow-x: hidden;
  cursor: pointer;
  font-size: 16px;
}

button {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  border: none;
  background-color: rgb(230, 245, 238);
  border-radius: 2em;
  margin: 0.5em;
  padding: 1em;
}

#buttons {
  text-align: center;
  margin-top: 1em;
}

.chart {
  padding: 2em;
  margin: 0 auto; 
  max-width: 800px; 
  position: relative;
  left: 20%;
  transform: translateX(-50%); 
}

.button-title {
  margin-top: 2em;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  padding: 1em;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 1.2em;
  }

  .chart {
    padding: 1em;
    max-width: 100%;
    left: 0;
    transform: none;
  }

  .button-title {
    margin-top: 1em;
  }

  #buttons {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 1em;
  }

  .chart {
    padding: 1em;
    max-width: 100%;
    left: 0;
    transform: none;
  }

  .button-title {
    margin-left: 2%;
    margin-right: 2%;
  }

  #buttons {
    margin-left: 10%;
    margin-right: 10%;
  }
}