body {
  font-family: 'Inconsolata', monospace;
  overflow-x: hidden;
  cursor: pointer;
}

button {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  background-color: rgb(230, 245, 238);
  border-radius: 16px;
  padding: 1.5em;
  border: none;
}

#buttons {
  position: absolute;
  top: 10%;
  left: 45%;
}

.chart {
  width: 100px;
  height: 100%;
  padding: 2em;
  position: absolute;
  left: 10%;
  top: 20%;
}

.button-title {
  padding-top: 40px;
  padding-bottom: 20px;
  position: absolute;
  left: 16%;
  top: 6%;
}